
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

@{if (TempData["msg"] != null)
{
    <script>alert('@TempData["msg"]')</script>
}
}
<div>
    <u>@Html.ActionLink("Back", "Adminhome")</u>
</div>
<center>
    <h2>Change Password</h2>
    <br />

    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()
        <table class="table table-striped"  >

            @Html.ValidationSummary(true)

            <tr>
                <td>@Html.Label("Current Password")</td>


                <td> @Html.Password("t1")</td>
                <td colspan="2">
                    <h3 style="color:red">@TempData["error1"]</h3>

                </td>
            </tr>
            <tr>
                <td>@Html.Label("New Password")</td>


                <td> @Html.Password("t2")</td>
                <td colspan="2">
                    <h3 style="color:red">@TempData["error2"]</h3>

                </td>
            </tr>
            <tr>
                <td>@Html.Label("Confirm Password")</td>


                <td> @Html.Password("t3")</td>
                <td colspan="2">
                    <h3 style="color:red">@TempData["error3"]</h3>

                </td>

            </tr>
            <tr>
                <td> </td>
                <td><input type="submit" value="Update" class="btn btn-default" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2 style="color:red">@TempData["msg1"]</h2>


                </td>
            </tr>
        </table>


    }
</center>

<br />
<br />
<br /><br /><br /><br /><br />
<br /><br /><br />