@model IEnumerable<CleaningService.Models.ServiceAvailable>

@{
    ViewBag.Title = "servicedetails";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}
<div>
    <u>@Html.ActionLink("Back", "Adminhome")</u>
</div>
<center>
    <h2>Service Details</h2>
    <br /><br />
    @{if (TempData["msg"] != null)
    {
        <script>alert('@TempData["msg"]')</script>
    }
    }

    <table class="table table-striped">
        <tr>
            <th>
                Type Name
            </th>
            <th>
                Minimum duration
            </th>
            <th>
                Price Per Hour
            </th>
            <th>
                Total
            </th>
            <th>
                Picture
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>

        @foreach (var item in ViewBag.data)
        {
            <tr>
                <td>
                    @item.TypeName
                </td>
                <td>
                    @item.MinimumDurationInHours
                </td>
                <td>
                    @item.PricePerHour
                </td>
                <td>
                    @item.Total
                </td>
                <td>
                    <img src="@item.Picture" width="50" height="50" />
                </td>

                <td>
                    <b><i><u>@Html.ActionLink("Edit", "Edit", new { id = item.TypeId })</u></i></b>
                </td>
            </tr>
        }

    </table>
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />